*
{
margin: 0;
padding: 0;    
}

h1{
padding-top: 40px;    
text-align: center;    
}
.main{
display: flex;
margin-top: 10px;
flex-wrap: wrap; 
}

.search
{
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/262/479/original/white-and-blue-tone-abstract-background-backdrop-for-presentation-design-for-website-concept-of-beauty-and-health-business-brochure-free-photo.jpg);  

}
.image
{
height: 400px;    

}

